html, body {
  background-image: url('https://i.gifer.com/PwSB.gif');
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  .upload-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
