<!DOCTYPE html>
<html>
<head>
  <title>Image Gallery</title>
  <style>
		body, html {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;
			height: 100%;
			justify-content: center;
			align-items: center;
			background-size: cover;
			background-image: url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png');
		}
		.app-display-wrapper {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
		}
		.app-header {
			width: 100%;
			height: 15%;
			display: flex;
			margin-bottom: 3vh;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 100px;
			background-color: white;
		}
		.app-header h1 {
			margin-top: 3vh;
			text-align: center;
		}
		.app-header .input-searchbar {
			width: 80%;
			padding: 1vh 2vh;
			border: none;
			border-radius: 1vh;
			background-color: #f1f1f1;
			font-size: 16px;
			margin-bottom: 3vh;

		}
		.input-searchbar::placeholder {
			color: #888;
		}
		.input-searchbar:focus {
			outline: none;
			background-color: #e8e8e8;
		}
		.image-container {
      		display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 4vh;
      		width: 80%;
			height: 80%;
      		overflow-y: auto;
    	}
		.image-container img {
			background-color: white;
			padding: 5vh;
			height: auto;
			width: calc(25% - 10px);
			max-width: 300px;
			max-height: 300px;
			min-width: 200px;
			min-height: 200px;
			margin-top: 1vh;
			margin-bottom: 2vh;
		}
		.image-container::-webkit-scrollbar {
			width: 1vh;
		}
		.image-container::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 10px;
		}
		.image-container {
			scrollbar-width: thin;
		}
		.image-container::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: 10px;
		}
		.image-container::-webkit-scrollbar-track {
			background-color: transparent;
		}
		.image-container::-webkit-scrollbar-track-piece {
			background-color: transparent;
		}
  </style>
</head>
<body>
	<div class="app-display-wrapper">
		<div class="app-header">
			<h1>Image Gallery</h1>
			<input class="input-searchbar" type="text" placeholder="Search images...">
		</div>
		<div class="image-container">
		  	<% images.forEach(image => { %>
				<img src="/uploads/<%= image %>" alt="<%= image %>">
			<% }); %>
		</div>
	</div>
	<script>
		function searchImages() {}
	</script>
</body>
</html>
